<h1>Calendario</h1>
<div class="row">
  <div class="column-2" id="hours_section">
    <div class="description">Hora</div>
  </div>
  <div class="column-2" id="lunes">
    <div class="description">Lunes</div>
  </div>
  <div class="column-2" id="martes">
    <div class="description">Martes</div>
  </div>
  <div class="column-2" id="miercoles">
      <div class="description">Miercoles</div>
  </div>
  <div class="column-2" id="jueves">
    <div class="description">Jueves</div>
  </div>
  <div class="column-2" id="viernes">
      <div class="description">Viernes</div>
  </div>
</div>
